<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <%- include('./partials/nav') %>
  <br /><br />
  <div class="news container">
    <div class="h-100 p-5 border rounded-3" style="background: #82dbd8">
      <h2 class="nav-text">News</h2>
      <br />
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <img
                src="https://i.ytimg.com/an_webp/hzvT0vy5cjE/mqdefault_6s.webp?du=3000&sqp=CPb-ppQG&rs=AOn4CLDMIGxqdN-fgEofcbkOzmjUSGtzyw"
                alt=""
                style="width: 100%"
              />
              <h5 class="card-title">
                Insight Into Depression
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">
                - Sadhguru
              </h6>
              <p class="card-text">war</p>
              <a
                href="https://timesofindia.indiatimes.com/world/europe/russia-ukraine-war-may-21/liveblog/91699300.cms"
                class="btn btn-warning"
                >Go to Page</a
              >
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <img
                src="https://i.ytimg.com/an_webp/MB5IX-np5fE/mqdefault_6s.webp?du=3000&sqp=CJP0ppQG&rs=AOn4CLCfYWER4NM8Hr9SiUFz69GdhB8R9g"
                alt=""
                style="width: 100%"
              />
              <h5 class="card-title">This could be why you're depressed or anxious </h5>
              <h6 class="card-subtitle mb-2 text-muted">| Johann Hari</h6>
              <p class="card-text">Motivation</p>
              <a
                href="https://www.hindustantimes.com/world-news/russia-will-feel-weight-of-every-bomb-zelensky-seeks-compensation-10-points-101653093031846.html"
                class="btn btn-warning"
                >Go to Page</a
              >
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <img
                src="https://i.ytimg.com/an_webp/_re6AX3Mi4s/mqdefault_6s.webp?du=3000&sqp=CJTtppQG&rs=AOn4CLBnhcAhkr0PGIOSKh4VtPA0YCSUTA"
                alt=""
                style="width: 100%"
              />
              <h5 class="card-title">
                Lift Depression With These 3 Prescriptions- Without-Pills
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">
                | Susan Heitler |
              </h6>
              <p class="card-text">Moldova</p>
              <a
                href="https://www.aljazeera.com/news/2022/5/20/russia-says-last-ukrainian-fighters-in-mariupol-surrendered-liveblog"
                class="btn btn-warning"
                >Go to Page</a
              >
            </div>
          </div>
        </div>
        <br />
        <br />
        <div class="col">
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <img
                src="https://i.ytimg.com/an_webp/1I9ADpXbD6c/mqdefault_6s.webp?du=3000&sqp=CM_nppQG&rs=AOn4CLAapsoN_djs-TtP_W9aYaKguwYEmA"
                alt=""
                style="width: 100%"
              />
              <h5 class="card-title">
                FIGHT DEPRESSION 
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">
                - Powerful Study Motivation [2018] (MUST WATCH!!)
              </h6>
              <p class="card-text">Motivation</p>
              <a
                href="https://www.aljazeera.com/news/2022/5/20/russia-says-last-ukrainian-fighters-in-mariupol-surrendered-liveblog"
                class="btn btn-warning"
                >Go to Page</a
              >
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <img
                src="https://i.ytimg.com/an_webp/_I5EAhuCVyw/mqdefault_6s.webp?du=3000&sqp=COjuppQG&rs=AOn4CLBOV37OC1L3vhBrl-pMaHV7WAc7NA"
                alt=""
                style="width: 100%"
              />
              <h5 class="card-title">
                1 Thought To Finish Depression: 
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">
                Part 2: BK Shivani (Hindi)
              </h6>
              <p class="card-text">Motivation</p>
              <a
                href="https://www.aljazeera.com/news/2022/5/20/russia-says-last-ukrainian-fighters-in-mariupol-surrendered-liveblog"
                class="btn btn-warning"
                >Go to Page</a
              >
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <img
                src="https://i.ytimg.com/an_webp/-GXfLY4-d8w/mqdefault_6s.webp?du=3000&sqp=CKj-ppQG&rs=AOn4CLC0v9Mf3rvm6tgoBX5EmPxUK4ElzA"
                alt=""
                style="width: 100%"
              />
              <h5 class="card-title">
                YOU ARE STRONG 
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">
                - Inspiring Speech On Depression & Mental Health
              </h6>
              <p class="card-text">Motivation</p>
              <a
                href="https://www.aljazeera.com/news/2022/5/20/russia-says-last-ukrainian-fighters-in-mariupol-surrendered-liveblog"
                class="btn btn-warning"
                >Go to Page</a
              >
            </div>
          </div>
        </div>
      </div>
      <br />
      <a
        href="https://www.aljazeera.com/news/2022/5/20/russia-says-last-ukrainian-fighters-in-mariupol-surrendered-liveblog"
        class="btn btn-warning"
        >More Updates</a
      >
    </div>
  </div>
  <br /><br />
  <%- include('./partials/footer') %>
  <body>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
