<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        background: #0a58ca;
        font-family: "Roboto", sans-serif;
      }
      .Box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 2% 3%;
        background: white;
        border-radius: 5px;
        width: 37%;
      }
      h4 {
        color: #343a40;
        text-align: center;
        letter-spacing: 1px;
      }
      .inputs {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      input[type="text"],
      input[type="number"],
      input[type="password"] {
        background: #cff4fc;
        border-radius: 4px 4px 0px 0px;
        width: 210px;
        height: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        border: none;
        padding: 7px;
        outline: none;
      }
      input:focus {
        border-bottom: 3px solid #efadce;
      }
      .gender {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .regBtn {
        width: 100%;
        height: 40px;
        background: #0a58ca;
        color: white;
        outline: none;
        border: none;
      }
      a {
        text-decoration: none;
        color: #343a40;
      }
      a:focus {
        text-decoration: none;
        color: #343a40;
      }
    </style>
  </head>
  <body>
    <div class="Box">
      <h4>Register to Saviour</h4>
      <div class="inputs">
        <div class="first-half">
          <input type="text" placeholder="Full Name" /><br />
          <input type="text" placeholder="Mail ID" /><br />
          <input type="number" placeholder="Age" /><br />
          <input type="number" placeholder="Contact Number" /><br />
        </div>
        <div class="second-half">
          <div class="gender">
            <h5>Gender</h5>
            <input type="radio" name="fav_language" value="Male" />
              <label for="html">Male</label>  
            <input type="radio" name="fav_language" value="Female" />  
            <label for="css">Female</label><br />
          </div>
          <input type="number" placeholder="Pincode" /><br />
          <input type="password" placeholder="Password" /><br />
          <input type="password" placeholder="Confirm Password" /><br />
        </div>
      </div>
      <br />
      <button class="regBtn" type="submit">Register</button><br /><br />
      <a href="/login"><u>Already Have An Account</u></a
      ><br />
    </div>
  </body>
</html>
